# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
venv/
env/

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore model files if large (optional)
*.pkl

# Ignore Streamlit’s local settings
.streamlit/

# Ignore OS files
.DS_Store
